.links {
  display: flex;
  margin-bottom: 20px;
}
.link {
  cursor: pointer;
  color: var(--color-blue);
  margin-right: 15px;
}
.link:hover {
  color: var(--color-black);
  text-decoration: underline;
}

.league {
  height: 50px;
  vertical-align: middle;
  border: 1px solid var(--color-black);
  border-radius: 6px;
  padding: 2px;
  margin-right: 10px;
  box-shadow: 1px 1px 1px var(--color-black);
}

.teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.item {
  display: flex;
  align-items: center;
  width: 32%;
  font-size: 18px;
  border: 1px solid var(--color-black);
  border-radius: 4px;
  margin: 5px;
  padding: 2px 5px 2px 2px;
  box-shadow: 1px 1px 1px var(--color-black);
}
.image {
  font-size: 8px;
  margin-right: 10px;
}
.logo {
  max-width: 80px;
  max-height: 80px;
}
.logoSVG {
  width: 90px;
}
.logoSVGpad {
  width: 60px;
  max-height: 70px;
  padding: 2px;
}