.container {

}
.links {
  display: flex;
  margin-bottom: 20px;
}
.link {
  cursor: pointer;
  color: var(--color-blue);
  margin-right: 15px;
}
.link:hover {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
}