* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, SimSun, sans-serif;
}
html,
body {
  background: var(--color-gray);
  color: var(--color-black);
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
a {
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #34a2e1;
  --color-red: #FF0000;
  --color-gray: #808080;
}
